.header-button {
  background-color: var(--button-bg);
  border: solid 1px var(--border-color);
  color: var(--text-primary);

  font-size: 150%;
  padding: 5px;
  transition: background-color 0.2s ease;
}

.header-button:hover {
  background-color: var(--button-hover);
}

.app-name {
  font-family: 'Acme', sans-serif;
  font-size: 270%;
}

.letter-green {
  color: #51b36e;
}

.letter-green.colorblind {
  color: #2271B2;
}

.letter-red {
  color: #943e3c;
}

.letter-red.colorblind {
  color: #1d1d1d;
}

.letter-yellow {
  color: #c79c2e;
}

.letter-yellow.colorblind {
  color: #D55E00;
}