.overlay-screen {
  position: fixed;
  display: block;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
}

.overlay-wrapper {
  width: 100%;
}

.overlay {
  background-color: #2a2a2a;
  border: 1px solid #666666;
  color: #e0e0e0;
}

@media (min-width: 992px) {
  .overlay {
    width: 65%;
  }

  .overlay-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}