.overlay-screen {
  position: fixed;
  display: block;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: var(--overlay-bg);
  z-index: 2;
}

.overlay-wrapper {
  width: 100%;
}

.overlay {
  background-color: var(--button-bg);
  border: 1px solid var(--border-color);
  color: var(--text-primary);
}

@media (min-width: 992px) {
  .overlay {
    width: 65%;
  }

  .overlay-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}